{% set img_uri = node.field_image.entity.uri.value %}
{% set img_url = file_url(img_uri) %}


<nav class="menu-classic menu-fixed align-right" data-menu-anima="fade-in">
	<div class="container">
		<div class="menu-brand"> 
			{% if page.branding %} 
				{{ page.branding }}
			{% endif %}
		</div>
		<i class="menu-btn"></i>
		<div class="menu-cnt">
			{% if page.main_menu %}
			  {{ page.main_menu }}
			{% endif %}
			<div class="menu-right">
				
			</div>
		</div>
	</div>
</nav>

<!-- HEADER START --> 
<header class="header-image ken-burn-center light" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="{{ img_url }}" data-offset="0">
	<div class="container">
		<h1>{{ node.title.value }}</h1>
		<h2>{{ header_sub_title }}</h2>
		
		 {% if page.breadcrumbs %}
			{% set has_breadcrumb = ' has-breadcrumb' %}
			
				{{ page.breadcrumbs }}
			
		{% endif %}
			
		
	</div>
</header>
<!-- HEADER END --> 
{% set sidebar = '' %}

{% if node.field_sidebar.0.value is not empty %}
	{% set sidebar = node.field_sidebar.0.value %}
{% endif %}


<main>
<!-- CONTENT --> 
{% if page.slideshow_content %}
	{{ page.slideshow_content }}
{% endif %}	

{% if page.help %}
	<div class="help drp-help-region section">
		<div class="container">
			<div class="row">
				{{ page.help }}
			</div>
		</div>
	</div>
{% endif %}
{% if page.before_content %}
	{{ page.before_content }}
{% endif %}



{% if sidebar == 'left' %}
	<section class="section-base">
		<div class="container">
			<div class="row">	
				<div class="col-lg-4">
					{% if page.sidebar_left %}
						{{ page.sidebar_left }}
					{% endif %}
				</div>
				<div class="col-lg-8">
					{% include '@drupalet_alpins/pages/main.html.twig' %}	
				</div>
			</div>
		</div>
	</section>
	
{% elseif sidebar == 'right' %}
<section class="section-base">
	<div class="container">
		<div class="row">	

				<div class="col-lg-8">
					{% include '@drupalet_alpins/pages/main.html.twig' %}	
				</div>
				<div class="col-lg-4">
					{% if page.sidebar_right %}
						{{ page.sidebar_right }}
					{% endif %}
				</div>
			</div>
		</div>
	</section>

{% else %}

	{% include '@drupalet_alpins/pages/main.html.twig' %}	

{% endif %}
{% if page.content_bottom %}
	{{ page.content_bottom }}
{% endif %}

</main>

<!-- FOOTER START --> 
	{% include '@drupalet_alpins/footer_styles/footer-classic.html.twig' %}
<!-- FOOTER END --> 