{% if header %}
	{{ header }}
{% endif %}
<div class="grid-list pagination-top-right" data-columns="4" data-columns-lg="3" data-columns-md="2" data-columns-sm="1">
	<div class="grid-box">
		{{ rows }}
		{{ empty }}
		{{ pager }}
		{{ more }}
	</div>
	<div class="list-pagination">
		<ul class="pagination align-center" data-page-items="4" data-page-items-lg="3" data-page-items-md="2" data-pagination-anima="fade-right">
		</ul>
	</div>
</div>
{% if footer %}
	{{ footer }}
{% endif %}